/.idea
/venv
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/baekjoon/v16/.suo
.vs/baekjoon/v16/Browse.VC.db
.vs/baekjoon/v16/ipch/AutoPCH/9a10219f4440c85f/02447.ipch
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
*.exe